@import 'tailwindcss';

@import './normalize.css';

:root {
  --background: #e3e3e3;
  --foreground: #171717;
  --header: #016ca5;
}

.tour-highlight {
  position: relative;
  z-index: 9998;
  box-shadow:
    0 0 0 4px #2563eb,
    0 0 12px rgba(37, 99, 235, 0.6);
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

.limite {
  max-height: 80vh !important;
  max-width: 95vw !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: var(--header);
}

main {
  width: 100%;
  height: 100vh;
}
