@import "tailwindcss";

@import "./normalize.css";

:root {
  --background: #e3e3e3;
  --foreground: #171717;
  --header: #016ca5;
}

.limite {
  max-height: 70vh !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --header: #2d2d2d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: var(--header);
}

main {
  width: 100%;
  height: 100vh;
}
